asgiref
boto3
botocore
certifi
charset-normalizer
django
django-axes
django-environ
django-htmx
django-ipware
django-jalali
django-jalali-date
django-simple-history
django-storages
django-unfold
djangorestframework
idna
jalali-core
jdatetime
jmespath
pillow
pip
psycopg
psycopg-binary
python-dateutil
python-ipware
redis
requests
s3transfer
six
sqlparse
setuptools
ua-parser
ua-parser-builtins
urllib3
user-agents
weasyprint
